html {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: antialiased;
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: 0.1px;
	font-weight: 400;
}

body {
	margin: 16px;
	background-color: black;
}

h1 {
	display: inline;
	font-size: 1rem;
	font-weight: inherit;
	margin: 0;
}

a {
	color: inherit;
	text-underline-offset: 0.25rem;
	text-decoration-thickness: 0.05rem;
}

a:visited {
	color: inherit;
}
