:root {
	--main-text-color: #000;
}

body {
	font-family: Helvetica, sans-serif;
	/* font-size: clamp(1rem, 3vw, 6rem);  */
	font-size: clamp(1rem, 2vw, 4rem); 
	letter-spacing: 0.03em;
	line-height: 1.3em;
	color: var(--main-text-color);
}

a {
	color: var(--main-text-color);
}

h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}