:root {
	--main-text-color: #FFF;
}

body {
	font-family: Helvetica, sans-serif;
	/* font-size: clamp(1rem, 3vw, 6rem);  */
	font-size: clamp(1rem, 1.5vw, 3rem); 
	letter-spacing: 0.02em;
	line-height: 1.3em;
	color: var(--main-text-color);
}

a {
	color: var(--main-text-color);
}

h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

#gallery {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#gallery img {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}